@model Boodschappie.Models.ItemList

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ItemList</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.UserId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemListName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemListName)
            @Html.ValidationMessageFor(model => model.ItemListName)
        </div>

        <div class="editor-field">
            <div id="editorRows" class="input-group">
                @foreach (var item in Model.Items)
                {
                    @Html.Partial("ItemsRowPartial", item);

                }

            </div>

        </div>

        @Html.ActionLink("Add another...", "BlankItemRow", null, new { id = "addItem" })
        
       <div class="editor-field">
            @Html.HiddenFor(model => model.LastUpdate)
        </div>
       
        <p>
            <input type="submit" value="Create" />
        </p>

        
        <select id="comboBox"></select>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div>
    <input id="searchUser" type="text" />
    <div id="hiddendiv">
        <table>
            
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

<script>
    $(function () {

        $('#addItem').click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) {
                    $('#editorRows').append(html);
                }
            });
            return false;
        });

        $('a.deleteRow').live('click', function () {
            $(this).parents('div.editorRow:first').remove();
            return false;
        });

    })
</script>

    <script>
        

        $(function () {

            //function fillCombobox(data) {
            //    alert(data);
            //    $($.parseJSON(data.msg)).map(function () {
            //        return $('<option>').val(this.value).text(this.label);
            //    }).appendTo('#comboBox');
            //}

          
            $('#searchUser').keyup(function () {
                search = $('#searchUser').val();
                $.ajax({
                    type: "GET",
                    url: ("/account/searchusers/"+search),
                    success: function fillCombobox(data) {
                        $('#hiddendiv').html("");
                        $.each(data, function (index, item) {
                            // alert(data[1].UserName);
                            // alert("second alert" + this.UserName)
                            $('#hiddendiv').append(
                                 $('<tr></tr>').val(this.UserName).html(this.UserName)
                             );
                        });

                        //$('#comboBox').html("");
                        //$.each(data, function (index, item) {
                        //   // alert(data[1].UserName);
                        //   // alert("second alert" + this.UserName)
                        //    $('#comboBox').append(
                        //         $('<option></option>').val(this.UserName).html(this.UserName)
                        //     );
                        //});

                        //$($.parseJSON(data)).map(function () {
                        //    return $('<option>').val(this.value).text(this.label);
                        //}).appendTo('#comboBox')



                    },//function (data) { alert(data) },
                    error: function () {
                        alert('error');
                     }

            })

                @*$.getJSON({
                    type: "GET",
                    url: "@Url.Action("SearchUsers","Account")",
                    error: alert("error")
                }).done(function (data) {
                    alert(data);

                })*@

            }

                )
           


        })

        
        </script>
}