@model Boodschappie.Models.ItemList

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ItemList</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemListName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemListName)
            @Html.ValidationMessageFor(model => model.ItemListName)
        </div>

        <div class="editor-field">
            <div id="editorRowsItem" class="input-group">
                @foreach (var item in Model.Items)
                {
                    @Html.Partial("ItemsRowPartial", item);

                }

            </div>

        </div>

        @Html.ActionLink("Add another item...", "BlankItemRow", null, new { id = "addItem" })

        <div class="editor-field">
            <div class="editor-label">
                @Html.Label("You are sharing with:")

            </div>
            <div id="editorRowsShared" class="input-group">

            </div>
            <div>
                @Html.Label("Search for users")
            </div>
            <div>
                <input id="searchUser" type="text" />
                <div id="hiddendiv">
                    <table></table>
                </div>
            </div>
        </div>

        @*@Html.ActionLink("Add another...", "BlankSharedWithRow", null, new { id = "addShared" })*@


        <div class="editor-field">
            @Html.HiddenFor(model => model.LastUpdate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

    <script>

        //Adding and removing items
        $(function () {
        //Add another item partial
        $('#addItem').click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) {
                    $('#editorRowsItem').append(html);
                }
            });
            return false;
        });

        //Remove item partial
        $('a.deleteRowItem').live('click', function () {
            $(this).parents('div.editorRowItem:first').remove();
            return false;
        });

        })
    </script>

    <script>
        //Searching, adding and removing SharedWith users
        $(function () {

            $('#addShared').click(function () {
                $.ajax({
                    url: this.href,
                    cache: false,
                    success: function (html) {
                        $('#editorRowsShared').append(html);
                    }
                });
                return false;
            });

            $('a.deleteRowShared').live('click', function () {
                $(this).parents('div.editorRowShared:first').remove();
                return false;
            });

            //Search for users

                //Search for users
                $('#searchUser').keyup(function () {
                    search = $('#searchUser').val();

                    $.ajax({
                        type: "GET",
                        url: ("/account/searchusers/" + search),
                        success: function fillCombobox(data) {
                            $('#hiddendiv').html("");

                            if ($(data).length > 0) {
                                $.each(data, function (index, item) {
                                    $('#hiddendiv').append(
                                    '<tr><td class="userId" hidden="true" value="' + this.UserId + '">' + this.UserId +
                                    '</td><td class="userName" value="' + this.UserName + '">' + this.UserName + '</td>' +
                                    '<td><a href="#" value="' + this.UserId + '">Add</a></td></tr>');

                                });

                            } else {
                                $('#hiddendiv').append('<tr><td>No users found... Please try again.</td></tr>');
                            }
                            

                        },
                        error: function (xhr, status) {
                            alert(xhr, +'\n' + status);
                        }

                    })

                }

                    )

                //Add the user to the sharedWith list
                $('#hiddendiv').delegate('a', 'click', function () {

                    var userId = $(this).attr('value')

                    $.ajax({
                        url: '/ItemList/AddSharedWith?id=' + userId,
                        contentType: 'application/html',
                        type: 'GET',
                        dataType: 'html'

                    }).success(function (result) {

                        $('#editorRowsShared').html(result);

                    }).error(function (xhr, status) {
                        alert(xhr, +'\n' + status);
                    })

                });



        });
    </script>
}