@model Boodschappie.Models.ItemList

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ItemList</legend>

        @Html.HiddenFor(model => model.ItemListId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemListName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemListName)
            @Html.ValidationMessageFor(model => model.ItemListName)
        </div>
        <div class="editor-field">
            <div id="editorRows" class="input-group">
                @foreach (var item in Model.Items)
                {
                    @Html.Partial("ItemsRowPartial", item);

                }

            </div>

        </div>

        @Html.ActionLink("Add another...", "BlankItemRow", null, new { id = "addItem" })

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUpdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastUpdate)
            @Html.ValidationMessageFor(model => model.LastUpdate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {

        $('#addItem').click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) {
                    $('#editorRows').append(html);
                }
            });
            return false;
        });

        $('a.deleteRow').live('click', function () {
            $(this).parents('div.editorRow:first').remove();
            return false;
        });

    })
</script>
}
