@model Boodschappie.Models.Items


<div class="editorRow">

    @using(Html.BeginCollectionItem("Items"))
{
    @*@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)*@
    
    <fieldset>
        <legend>Items</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.ItemsId)
        </div>

        <div class="editor-field">
            @Html.HiddenFor(model => model.ItemListId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemName)
            @Html.ValidationMessageFor(model => model.ItemName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Format)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Format)
            @Html.ValidationMessageFor(model => model.Format)
        </div>

        <p>
            <a href="#" class="deleteRow">delete</a>
        </p>
    </fieldset>
}
</div>
